[user]
    name = Firstname Lastname
    email = firstname.lastname@example.com
[alias]
    br = "!git for-each-ref --format='%(committerdate:short),%(authorname),%(refname:short)' --sort=committerdate refs/heads/ | column -t -s ','"
    bra = branch -a
    ci = commit
    co = checkout
    cim = commit -m
    df = diff
    i = update-index --assume-unchanged
    l = git log --oneline --graph --decorate
    lg = log -p
    ls = ls-files
    pom = push origin master
    # push current branch
    po = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
    st = status
    unc = reset --soft HEAD^
    unstage = reset HEAD --
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore_global
    pager = less -R
